@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body,
button,
input,
select,
titlearea {
 
  font-family: 'Roboto';
}

.big-header {
  font-size: 54px;
  background-image: url(../img/space2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  
  color: white;
}

.button {
  color: rgb(6, 6, 65);
  background: rgb(105, 6, 218);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
